# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:gQL9jQTd8TnxANiIusOg@containers-us-west-103.railway.app:6024/railway"
NEXTAUTH_SECRET='9f51e4905b6625713e637e10bf25adf8b9bdaa3cd6d5bc67e6ff3cd141a702b4302fd9134f90239a47961dc6cb8dc06c'
NEXTAUTH_URL='http://localhost:3000'
NEXT_PUBLIC_BUCKET='http://localhost:5000'